devops/pm24py/*.tar.gz
project/scrapy/pm2/*.tar.gz
project/smart-bug
project/GerritHost/postgres/ldap/nginx/gerrit/bin
project/GerritHost/postgres/ldap/nginx/gerrit/cache
project/GerritHost/postgres/ldap/nginx/gerrit/data
project/GerritHost/postgres/ldap/nginx/gerrit/db
project/GerritHost/postgres/ldap/nginx/gerrit/events-db
project/GerritHost/postgres/ldap/nginx/gerrit/gerrit_version
project/GerritHost/postgres/ldap/nginx/gerrit/git
project/GerritHost/postgres/ldap/nginx/gerrit/index
project/GerritHost/postgres/ldap/nginx/gerrit/lib
project/GerritHost/postgres/ldap/nginx/gerrit/logs
project/GerritHost/postgres/ldap/nginx/gerrit/plugins
project/GerritHost/postgres/ldap/nginx/gerrit/static
project/GerritHost/postgres/ldap/nginx/gerrit/tmp
project/GerritHost/postgres/ldap/nginx/gerrit/etc/mail
project/GerritHost/postgres/ldap/nginx/gerrit/etc/ssh*
project/SparkCluster/mongodb