devops/pm24py/*.tar.gz
runtime/scrapy/pm2/*.tar.gz
runtime/smart-bug
runtime/GerritHost/postgres/ldap/nginx/gerrit/bin
runtime/GerritHost/postgres/ldap/nginx/gerrit/cache
runtime/GerritHost/postgres/ldap/nginx/gerrit/data
runtime/GerritHost/postgres/ldap/nginx/gerrit/db
runtime/GerritHost/postgres/ldap/nginx/gerrit/events-db
runtime/GerritHost/postgres/ldap/nginx/gerrit/gerrit_version
runtime/GerritHost/postgres/ldap/nginx/gerrit/git
runtime/GerritHost/postgres/ldap/nginx/gerrit/index
runtime/GerritHost/postgres/ldap/nginx/gerrit/lib
runtime/GerritHost/postgres/ldap/nginx/gerrit/logs
runtime/GerritHost/postgres/ldap/nginx/gerrit/plugins
runtime/GerritHost/postgres/ldap/nginx/gerrit/static
runtime/GerritHost/postgres/ldap/nginx/gerrit/tmp
runtime/GerritHost/postgres/ldap/nginx/gerrit/etc/mail
runtime/GerritHost/postgres/ldap/nginx/gerrit/etc/ssh*
runtime/SparkCluster/mongodb