[gerrit]
	basePath = git
	serverId = 7c591523-02bc-47a3-ac11-f6b2422e3cb2
	canonicalWebUrl = http://192.168.12.66:8080/
[database]
	type = postgresql
	database = reviewdb
	hostname = postgres
	port = 5432
	username = gerrit
[noteDb "changes"]
	disableReviewDb = true
	primaryStorage = note db
	read = true
	sequence = true
	write = true
[index]
	type = LUCENE
[auth]
	type = LDAP
  gitBasicAuth = true
	gitBasicAuthPolicy = LDAP
	#gitBasicAuthPolicy = HTTP_LDAP
  #gitBasicAuthPolicy = HTTP

[ldap]
  server = ldap://192.168.8.11
  username = CN=interface,DC=thundersoft,DC=com
  accountBase = DC=thundersoft,DC=com
  accountFullName = ${description}
  accountEmailAddress = mail
  groupBase = DC=thundersoft,DC=com
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[plugin "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
	type = gitweb
